
<div class="media_display_column">
    <div class="media_display_image">
        <img src="{{ asset('files/file.png') }}"  width="150" height="150" >
    </div>
    <div class="media_file_name">
       {{ media.path }} 
    </div>
</div>
