<div class="media_display_column">
    <div class="media_display_image">
         <img src="{{ asset(media.path) }}"  >       
    </div>
    <div class="media_file_name">
       {{ media.path }} 
    </div>
</div>